.App {
  text-align: center;
}


/* Responsive layout - when the screen is less than 600px wide*/
@media screen and (max-width: 600px) {
 
.infiniteScroll
{
  margin:2rem !important;
}
}



.infiniteScroll
{
  margin:4rem;
  padding-top:7rem;
}