.App {
  text-align: center;
}

.ReactStickyHeader_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  background: white;
  /* opacity: 90% !important; */
}


/* Responsive layout - when the screen is less than 600px wide*/
@media screen and (max-width: 600px) {
 
.infiniteScroll
{
  margin:2rem !important;
}
}



.infiniteScroll
{
  margin:4rem;
  padding-top:6rem;
}